h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}

.li-style {
    list-style: none;
}

.odd-color {
    background-color: #ffffff;
}

.even-color {
    background-color: #40e0de;
}

.last-color {
    background-color: #7cfc00;
}

.box {
    border-style: outset;
}